@page
@model lab_5.Pages.BookingModel
@{
    ViewData["Title"] = "Edit Tickets";
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit Station</title>
</head>

<body>
    <div class='container'>
        <h2>Sorry! Now this page is unavailble. We implement only editing of passengers, trains and stations. </h2>
    </div>

</body>
</html>
