@page "{stationId:int}"
@model lab_5.Pages.StationsModel
@{
    ViewData["Title"] = "Stations";
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit Station</title>
</head>

<body>
    <div class='container'>
        <h2>Edit station</h2>
        <form action="" method="post">
            <ul class='responsive-table'>
                <li class='table-row'>
                    <div class='col col-1' data-label='Station Id'>
                        @*@Model.StationId*@
                    </div>
                    <div class='col col-2' data-label='Station'>
                        <input type="text" name="Station" value="Station" asp-for="station.Station">
                    </div>
                    <div class='col col-2' data-label='Distance'>
                        <input type="text" name="Distance" value="Distance" asp-for="station.Distance">
                    </div>
                    <div class='col col-3' data-label='Cost'>
                        <input type="text" name="Cost" value="Cost" asp-for="station.Cost">
                    </div>
                    <div class='sub' data-label='Submit'>
                        <input asp-action="EditStation" 
                               type="submit" value="Change" class="btn btn-success" required>
                    </div>



                </li>
            </ul>
        </form>
    </div>

</body>
</html>
